<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.sunny.cherry.tomato.team.mapper.CherryTeamMemberMapper">
  <resultMap id="BaseResultMap" type="io.github.sunny.cherry.tomato.team.model.CherryTeamMember">
    <!-- Don't change -->
    <result column="team_id" jdbcType="BIGINT" property="teamId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="manage" jdbcType="BIT" property="manage" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="creator_time" jdbcType="TIMESTAMP" property="creatorTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modifier_time" jdbcType="TIMESTAMP" property="modifierTime" />
  </resultMap>
  <insert id="insert" parameterType="io.github.sunny.cherry.tomato.team.model.CherryTeamMember">
    <!-- Don't change -->
    insert into cherry_team_member (team_id, user_id, nickname, 
      status, manage, creator, 
      creator_time, modifier, modifier_time
      )
    values (#{teamId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{manage,jdbcType=BIT}, #{creator,jdbcType=BIGINT}, 
      #{creatorTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, #{modifierTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.github.sunny.cherry.tomato.team.model.CherryTeamMember">
    <!-- Don't change -->
    insert into cherry_team_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        team_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="manage != null">
        manage,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorTime != null">
        creator_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifierTime != null">
        modifier_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="manage != null">
        #{manage,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="creatorTime != null">
        #{creatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifierTime != null">
        #{modifierTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>