<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.sunny.cherry.tomato.account.mapper.CherryAccountMapper">
    <resultMap id="BaseResultMap" type="io.github.sunny.cherry.tomato.account.model.CherryAccount">
        <!-- Don't change -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="account_non_expired" jdbcType="BIT" property="accountNonExpired"/>
        <result column="account_non_locked" jdbcType="BIT" property="accountNonLocked"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="creator_time" jdbcType="TIMESTAMP" property="creatorTime"/>
        <result column="modifier" jdbcType="BIGINT" property="modifier"/>
        <result column="modifier_time" jdbcType="TIMESTAMP" property="modifierTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!-- Don't change -->
        id, user_name, email, password, nickname, real_name, intro, avatar, account_non_expired,
        account_non_locked, enabled, creator, creator_time, modifier, modifier_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!-- Don't change -->
        select
        <include refid="Base_Column_List"/>
        from cherry_account
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!-- Don't change -->
        delete from cherry_account
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="io.github.sunny.cherry.tomato.account.model.CherryAccount">
        <!-- Don't change -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into cherry_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="accountNonExpired != null">
                account_non_expired,
            </if>
            <if test="accountNonLocked != null">
                account_non_locked,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="creatorTime != null">
                creator_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifierTime != null">
                modifier_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR,typeHandler=io.github.sunny.cherry.tomato.dubbo.mysql.handler.BcryptTypeHandler},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="accountNonExpired != null">
                #{accountNonExpired,jdbcType=BIT},
            </if>
            <if test="accountNonLocked != null">
                #{accountNonLocked,jdbcType=BIT},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="creatorTime != null">
                #{creatorTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modifierTime != null">
                #{modifierTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="io.github.sunny.cherry.tomato.account.model.CherryAccount">
        <!-- Don't change -->
        update cherry_account
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="accountNonExpired != null">
                account_non_expired = #{accountNonExpired,jdbcType=BIT},
            </if>
            <if test="accountNonLocked != null">
                account_non_locked = #{accountNonLocked,jdbcType=BIT},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=BIGINT},
            </if>
            <if test="creatorTime != null">
                creator_time = #{creatorTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modifierTime != null">
                modifier_time = #{modifierTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>