<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.boot.cherrytomato.project.mapper.OrgProjectMemberMapper" >
  <resultMap id="BaseResultMap" type="com.sunny.boot.cherrytomato.project.model.OrgProjectMember" >
    <!-- Don't change -->
    <result column="ORG_ID" property="orgId" jdbcType="BIGINT" />
    <result column="PROJECT_ID" property="projectId" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="IS_MANAGE" property="isManage" jdbcType="BIT" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="CREATOR" property="creator" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="BIGINT" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.sunny.boot.cherrytomato.project.model.OrgProjectMember" >
    <!-- Don't change -->
    insert into org_project_member (ORG_ID, PROJECT_ID, USER_ID, 
      IS_MANAGE, STATUS, CREATOR, 
      CREATE_DATE, MODIFIER, MODIFY_DATE
      )
    values (#{orgId,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{isManage,jdbcType=BIT}, #{status,jdbcType=TINYINT}, #{creator,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.boot.cherrytomato.project.model.OrgProjectMember" >
    <!-- Don't change -->
    insert into org_project_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="isManage != null" >
        IS_MANAGE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isManage != null" >
        #{isManage,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>