<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.sunny.cherry.tomato.security.mapper.CherryAccountRoleMapper">
    <resultMap id="BaseResultMap" type="io.github.sunny.cherry.tomato.security.model.CherryAccountRole">
        <!-- Don't change -->
        <result column="account_id" jdbcType="BIGINT" property="accountId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="creator_time" jdbcType="TIMESTAMP" property="creatorTime"/>
        <result column="modifier_time" jdbcType="TIMESTAMP" property="modifierTime"/>
    </resultMap>

    <insert id="insertSelective" parameterType="io.github.sunny.cherry.tomato.security.model.CherryAccountRole">
        <!-- Don't change -->
        insert ignore into cherry_account_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                account_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="creatorTime != null">
                creator_time,
            </if>
            <if test="modifierTime != null">
                modifier_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="creatorTime != null">
                #{creatorTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifierTime != null">
                #{modifierTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
</mapper>