<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.boot.cherrytomato.user.mapper.AppUserByMobileMapper">
    <resultMap id="BaseResultMap" type="com.sunny.boot.cherrytomato.user.model.AppUserByMobile">
        <!-- Don't change -->
        <id column="MOBILE" property="mobile" jdbcType="BIGINT"/>
        <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
    </resultMap>
    <!--根据手机号获取用户id-->
    <select id="selectUserIdByPrimaryKey" resultType="java.lang.Long">
        select
          USER_ID
        from app_user_by_username
        where MOBILE = #{mobile,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!-- Don't change -->
        delete from app_user_by_mobile
        where MOBILE = #{mobile,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.sunny.boot.cherrytomato.user.model.AppUserByMobile">
        <!-- Don't change -->
        insert into app_user_by_mobile (MOBILE, USER_ID)
        values (#{mobile,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT})
    </insert>
</mapper>