<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.boot.cherrytomato.user.mapper.AppUserByUsernameMapper">
    <resultMap id="BaseResultMap" type="com.sunny.boot.cherrytomato.user.model.AppUserByUsername">
        <!-- Don't change -->
        <id column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
    </resultMap>

    <!--根据用户名获取用户id-->
    <select id="selectUserIdByPrimaryKey" resultType="java.lang.Long">
        select
          USER_ID
        from app_user_by_username
        where USERNAME = #{username,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!-- Don't change -->
        delete from app_user_by_username
        where USERNAME = #{username,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" parameterType="com.sunny.boot.cherrytomato.user.model.AppUserByUsername">
        <!-- Don't change -->
        insert into app_user_by_username
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
</mapper>