<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.boot.cherrytomato.user.mapper.AppUserByMapidMapper" >
  <resultMap id="BaseResultMap" type="com.sunny.boot.cherrytomato.user.model.AppUserByMapid" >
    <result column="map_id" property="mapId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.sunny.boot.cherrytomato.user.model.AppUserByMapid" >
    insert into app_user_by_mapid (map_id, type, user_id
      )
    values (#{mapId,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{userId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.boot.cherrytomato.user.model.AppUserByMapid" >
    insert into app_user_by_mapid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mapId != null" >
        map_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mapId != null" >
        #{mapId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>