<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.boot.cherrytomato.organization.mapper.OrganizationMapper">
    <resultMap id="BaseResultMap" type="com.sunny.boot.cherrytomato.organization.model.Organization">
        <!-- Don't change -->
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="LOGO" property="logo" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="MEMBER_LIMIT" property="memberLimit" jdbcType="INTEGER"/>
        <result column="PROJECT_LIMIT" property="projectLimit" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="TINYINT"/>
        <result column="VERSIONS" property="versions" jdbcType="INTEGER"/>
        <!--<result column="CREATOR" property="creator" jdbcType="BIGINT"/>-->
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <!--<result column="MODIFIER" property="modifier" jdbcType="BIGINT"/>-->
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!-- Don't change -->
        ID, NAME, LOGO, DESCRIPTION, MEMBER_LIMIT, PROJECT_LIMIT, STATUS, VERSIONS, CREATOR,
        CREATE_DATE, MODIFIER, MODIFY_DATE
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        <!-- Don't change -->
        select
        <include refid="Base_Column_List"/>
        from organization
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!-- Don't change -->
        delete from organization
        where ID = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.sunny.boot.cherrytomato.organization.model.Organization">
        <!-- Don't change -->
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                NAME,
            </if>
            <if test="logo != null">
                LOGO,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="memberLimit != null">
                MEMBER_LIMIT,
            </if>
            <if test="projectLimit != null">
                PROJECT_LIMIT,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="versions != null">
                VERSIONS,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="modifyDate != null">
                MODIFY_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="memberLimit != null">
                #{memberLimit,jdbcType=INTEGER},
            </if>
            <if test="projectLimit != null">
                #{projectLimit,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="versions != null">
                #{versions,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.boot.cherrytomato.organization.model.Organization">
        <!-- Don't change -->
        update organization
        <set>
            <if test="name != null and name !=''">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="logo != null and logo !=''">
                LOGO = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description !=''">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="memberLimit != null">
                MEMBER_LIMIT = #{memberLimit,jdbcType=INTEGER},
            </if>
            <if test="projectLimit != null">
                PROJECT_LIMIT = #{projectLimit,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=TINYINT},
            </if>
                VERSIONS =VERSIONS+ 1,
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modifyDate != null">
                MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <!--团队扩展类-->
    <resultMap id="OrganizationVo" extends="BaseResultMap" type="com.sunny.boot.cherrytomato.organization.model.vo.OrganizationVo">
        <result column="IS_SUPER_ADMIN" property="admin" jdbcType="BIT"/>
    </resultMap>

    <!--获取当前登陆人的团队-->
    <select id="selectCurrentOrganization" resultMap="OrganizationVo">
        select
            a.IS_SUPER_ADMIN,
            a.USER_ID,
            b.NAME,
            b.LOGO,
            b.ID
        from
            organization_member a
            left join organization b on
            a.ORG_ID = b.id
        where
            a.USER_ID = #{userId,jdbcType=BIGINT}
            and a.STATUS=1
        <if test="name != null and name !=''">
            and b.name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </select>
</mapper>